@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.bg-blurple {
    background-color: #7289da;
    color: white;
}
.bg-custom-dark {
    background-color: rgba(52, 52, 52, 0.5);
}
.bg-custom-dark-80a {
    background-color: rgba(52, 52, 52, 0.8);
}
.bg-custom-dark-full {
    background-color: rgba(52, 52, 52, 1);
}

.background-sizing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.gta-bg1 {
    background: url("/img/gta-bg1.jpg");
}
.gta-bg2 {
    background: url("/img/gta-bg2.jpg");
}
.gta-bg3 {
    background: url("/img/gta-bg3.jpg");
}

.gridster li {
    list-style-type: none;
}

.bg-zap {
    background-color: #57BC54;
}
.bg-checkered {
    background-image: url("/img/checker-background.png");
    background-position: center;
    background-size: cover;
}

.page {
    background-color: rgba(241, 241, 241, 0.85);
    display: flex;
    width: 100vw;
    flex: 1;
    margin: 20px 20px 90px 20px;
    padding: 10px;
    border-radius: 15px;
}

.widget-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#add_widget_screen {
    z-index: 1;
    border-radius: 15px;
}

#add_widget_screen .card {
    background-color: #F1F1F1;
}

