.bg-blurple {
    background-color: #7289da;
    color: white;
}
.bg-custom-dark {
    background-color: rgba(52, 52, 52, 0.5);
}
.bg-custom-dark-80a {
    background-color: rgba(52, 52, 52, 0.8);
}
.background-sizing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.gta-bg1 {
    background: url("/img/gta-bg1.jpg");
}
.gta-bg2 {
    background: url("/img/gta-bg2.jpg");
}
.gta-bg3 {
    background: url("/img/gta-bg3.jpg");
}

.gridster li {
    list-style-type: none;
}

.bg-zap {
    background-color: #57BC54;
}
.bg-checkered {
    background-image: url("/img/checker-background.png");
    background-position: center;
    background-size: cover;
}

