.gradient-custom {
    /* fallback for old browsers */
    background: rgb(203, 23, 17);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(203, 23, 17), rgb(245, 180, 17));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(203, 23, 17), rgb(245, 180, 17));
}
.bg-blurple {
    background-color: #7289da;
    color: white;
}
.bg-custom-dark {
    background-color: #343434;
}
